Repository.UI/Connected Services/ProductWcfService/ProductWCFService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProductWCFService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:64767/ProductWCFService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:64767/ProductWCFService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:64767/ProductWCFService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/JustLearn.DTO" />
      <xsd:import schemaLocation="http://localhost:64767/ProductWCFService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Pattern.Domain.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProductWCFService_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="IProductWCFService_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IProductWCFService_GetEntities_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEntities" />
  </wsdl:message>
  <wsdl:message name="IProductWCFService_GetEntities_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEntitiesResponse" />
  </wsdl:message>
  <wsdl:message name="IProductWCFService_Insert_InputMessage">
    <wsdl:part name="parameters" element="tns:Insert" />
  </wsdl:message>
  <wsdl:message name="IProductWCFService_Insert_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertResponse" />
  </wsdl:message>
  <wsdl:message name="IProductWCFService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IProductWCFService_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IProductWCFService_UpdateEntity_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEntity" />
  </wsdl:message>
  <wsdl:message name="IProductWCFService_UpdateEntity_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEntityResponse" />
  </wsdl:message>
  <wsdl:message name="IProductWCFService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IProductWCFService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IProductWCFService_GetById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetById" />
  </wsdl:message>
  <wsdl:message name="IProductWCFService_GetById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IProductWCFService_GetEntityById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEntityById" />
  </wsdl:message>
  <wsdl:message name="IProductWCFService_GetEntityById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEntityByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IProductWCFService">
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBaseOf_ProductDTO_Product/GetAll" message="tns:IProductWCFService_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBaseOf_ProductDTO_Product/GetAllResponse" message="tns:IProductWCFService_GetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEntities">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBaseOf_ProductDTO_Product/GetEntities" message="tns:IProductWCFService_GetEntities_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBaseOf_ProductDTO_Product/GetEntitiesResponse" message="tns:IProductWCFService_GetEntities_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBaseOf_ProductDTO_Product/Insert" message="tns:IProductWCFService_Insert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBaseOf_ProductDTO_Product/InsertResponse" message="tns:IProductWCFService_Insert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBaseOf_ProductDTO_Product/Update" message="tns:IProductWCFService_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBaseOf_ProductDTO_Product/UpdateResponse" message="tns:IProductWCFService_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateEntity">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBaseOf_ProductDTO_Product/UpdateEntity" message="tns:IProductWCFService_UpdateEntity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBaseOf_ProductDTO_Product/UpdateEntityResponse" message="tns:IProductWCFService_UpdateEntity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBaseOf_ProductDTO_Product/Delete" message="tns:IProductWCFService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBaseOf_ProductDTO_Product/DeleteResponse" message="tns:IProductWCFService_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductWCFService/GetById" message="tns:IProductWCFService_GetById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductWCFService/GetByIdResponse" message="tns:IProductWCFService_GetById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEntityById">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductWCFService/GetEntityById" message="tns:IProductWCFService_GetEntityById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductWCFService/GetEntityByIdResponse" message="tns:IProductWCFService_GetEntityById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProductWCFService" type="tns:IProductWCFService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/IServiceBaseOf_ProductDTO_Product/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEntities">
      <soap:operation soapAction="http://tempuri.org/IServiceBaseOf_ProductDTO_Product/GetEntities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <soap:operation soapAction="http://tempuri.org/IServiceBaseOf_ProductDTO_Product/Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IServiceBaseOf_ProductDTO_Product/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEntity">
      <soap:operation soapAction="http://tempuri.org/IServiceBaseOf_ProductDTO_Product/UpdateEntity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IServiceBaseOf_ProductDTO_Product/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <soap:operation soapAction="http://tempuri.org/IProductWCFService/GetById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEntityById">
      <soap:operation soapAction="http://tempuri.org/IProductWCFService/GetEntityById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProductWCFService">
    <wsdl:port name="BasicHttpBinding_IProductWCFService" binding="tns:BasicHttpBinding_IProductWCFService">
      <soap:address location="http://localhost:64767/ProductWCFService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>